<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee          http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RosterListServlet</servlet-name>
        <servlet-class>controller.RosterListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RosterAddServlet</servlet-name>
        <servlet-class>controller.RosterAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RosterDeleteServlet</servlet-name>
        <servlet-class>controller.RosterDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RosterApproveServlet</servlet-name>
        <servlet-class>controller.RosterApproveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipmentListServlet</servlet-name>
        <servlet-class>controller.EquipmentListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipmentAddServlet</servlet-name>
        <servlet-class>controller.EquipmentAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipmentDeleteServlet</servlet-name>
        <servlet-class>controller.EquipmentDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipmentUpdateServlet</servlet-name>
        <servlet-class>controller.EquipmentUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskListServlet</servlet-name>
        <servlet-class>controller.TaskListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskAddServlet</servlet-name>
        <servlet-class>controller.TaskAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskDeleteServlet</servlet-name>
        <servlet-class>controller.TaskDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerDashboardServlet</servlet-name>
        <servlet-class>controller.ManagerDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToggleUserStatusServlet</servlet-name>
        <servlet-class>controller.ToggleUserStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OperatorListServlet</servlet-name>
        <servlet-class>controller.OperatorListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>controller.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyTaskServlet</servlet-name>
        <servlet-class>controller.MyTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTaskStatusServlet</servlet-name>
        <servlet-class>controller.UpdateTaskStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateRosterServlet</servlet-name>
        <servlet-class>controller.GenerateRosterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupervisorDashboardServlet</servlet-name>
        <servlet-class>controller.SupervisorDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignTaskServlet</servlet-name>
        <servlet-class>controller.AssignTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>controller.ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportPDFServlet</servlet-name>
        <servlet-class>controller.ExportPDFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportPdfServlet</servlet-name>
        <servlet-class>controller.ExportPdfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OperatorDashboardServlet</servlet-name>
        <servlet-class>controller.OperatorDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>controller.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyRosterServlet</servlet-name>
        <servlet-class>controller.MyRosterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>controller.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoRosterServlet</servlet-name>
        <servlet-class>controller.AutoRosterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RosterListServlet</servlet-name>
        <url-pattern>/RosterListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RosterAddServlet</servlet-name>
        <url-pattern>/RosterAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RosterDeleteServlet</servlet-name>
        <url-pattern>/RosterDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RosterApproveServlet</servlet-name>
        <url-pattern>/RosterApproveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipmentListServlet</servlet-name>
        <url-pattern>/EquipmentListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipmentAddServlet</servlet-name>
        <url-pattern>/EquipmentAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipmentDeleteServlet</servlet-name>
        <url-pattern>/EquipmentDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipmentUpdateServlet</servlet-name>
        <url-pattern>/EquipmentUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskListServlet</servlet-name>
        <url-pattern>/TaskListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskAddServlet</servlet-name>
        <url-pattern>/TaskAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskDeleteServlet</servlet-name>
        <url-pattern>/TaskDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerDashboardServlet</servlet-name>
        <url-pattern>/ManagerDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToggleUserStatusServlet</servlet-name>
        <url-pattern>/ToggleUserStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OperatorListServlet</servlet-name>
        <url-pattern>/OperatorListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyTaskServlet</servlet-name>
        <url-pattern>/MyTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTaskStatusServlet</servlet-name>
        <url-pattern>/UpdateTaskStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateRosterServlet</servlet-name>
        <url-pattern>/GenerateRosterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupervisorDashboardServlet</servlet-name>
        <url-pattern>/SupervisorDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignTaskServlet</servlet-name>
        <url-pattern>/AssignTaskServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportPDFServlet</servlet-name>
        <url-pattern>/ExportPDFServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportPdfServlet</servlet-name>
        <url-pattern>/ExportPdfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OperatorDashboardServlet</servlet-name>
        <url-pattern>/OperatorDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyRosterServlet</servlet-name>
        <url-pattern>/MyRosterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoRosterServlet</servlet-name>
        <url-pattern>/AutoRosterServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
